/* CSS definition file containing sitestyle stylesheets */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #c8c8c8;
    background-color: #272b30;
    margin-top: 50px; 

}
main {
    height: 80%;
    overflow-y: auto;
}

footer {
    /*
		position: relative;
		left: 0;
		bottom: 0;
*/
		width: 100%;
		color: white;
		text-align: center; 
        background: #2e3338;
}

#page_title {
	margin-bottom: 40px;
}

li {
    width:86px;
    height:inherit;
    display:inline-block;

    display:inline;
}
.error {
    color:#ff0000;
}
